

body, html {
    height: 100%;
    width: 100%;
}

.fullsize {
    height: 100%;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.fullheight{
    height : 100%
}

#google_map {

    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

h1.heading {
    text-align: center;
    font: 18px Georgia, "Times New Roman", Times, serif;
}



.splitter {
    float: left;
    width: 20px;
    height: 100%;
    background: #3c3c3c;
}

#splitter_button{
    height:100%;
    width:100%;
}

.content {
    overflow: hidden;
    height: 100%;  }

#left_bar, #main_bar{

}

