{% extends "base.html" %}
{% block content %}


    <!--<h1 class="heading">My Google Map</h1>
    <div align="center">Right Click to Drop a New Marker</div>-->


<div class="container-fluid fullsize">

        <div id="left_bar" style="float: left; width: 20%;">

            fsdfsdf
        </div>

        <div class="fullheight"  id="main_bar">

            <div class="splitter fullheight">
                <button  id="splitter_button"  type="button" ><</button>
            </div><div class="content">
                <div  id="google_map" ></div>
            </div>



</div>


{% endblock  %}



<!--



<div class="container-fluid fullsize">
<div class="row fullsize">
        <div class="col-lg-4 col-md-4 col-xs-4 fullheight" id="left_bar">
        </div>

        <div class="col-lg-8 col-md-8 col-xs-8 fullheight"  id="right_bar">

            <div class="splitter fullheight">
                <button  id="splitter_button"  type="button" ><</button>
            </div><div class="content">
                <div  id="google_map" ></div>
            </div>


</div>
</div>


-->